body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
	background-color: #000;
	background-image: url(../img/background/index-bckgrd.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}

.inner-page {
	color: #000;
	background-color: #282828;
	background-image: url(../img/background/pattern-light.jpg);
	background-repeat: repeat;
	background-position: 0 0;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	background-color: #000;

}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

.features-list {
	list-style: none;
}

.feature-list-item {
	text-align: center;
}

.feature-list-item h3 {
	font-size: 30px;
	line-height: 42px;
}

.index-columns {
	color: #000;
	background-color: #f8f5f2;
	background-image: url(../img/background/pattern-light.jpg);
	background-repeat: repeat;
	background-position: 0 0;
}

.index-columns h2 {
	font-size: 30px;
	line-height: 42px;
}

.news-list {
	list-style: none;
}

.news-item time {
	text-transform: none;
}

.gallery-content {
	background-color: #ccc;
	border: 7px solid #fff;
}

.btn {
	font: inherit;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	color: #fff;
	background-color: #000;
	border: none;
}

.btn:hover,
.btn:focus,
.btn:active {
	background-color: #663d15;
}

.appointment-item input {
	font: inherit;
	background-color: transparent;
	border: 2px solid #000;
}

.appointment-item input:focus {
	border-color: #663d15;
}

.page-title {
	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs {
	list-style: none;
}

.breadcrumbs a {
	color: #000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}

.breadcrumbs-current {
	color: #aba9a7;
}

.filter fieldset {
	border:none;
}

.filter legend {
	font-size: 24px;
	line-height: 30px;
}

.filter ul {
	list-style: none;
	line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #663d15;
}

.filter-input:disabled + label {
	color: #000;
	opacity: 0.5;
}

.catalog-list {
	list-style: none;
}

.catalog-item {
	background-color: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.catalog-item:hover {
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}


.catalog-item a {
	color: #000;
}

.catalog-item h3 {
	font-size: 14px;
	line-height: 18px;
}

 .catalog-category {
 	text-transform: none;
 }

 .catalog-item-price b {
 	font-size: 14px;
 	line-height: 18px;
 	text-align: center;
 	background-color: #e5e5e5;
 }

 .catalog-item-price .btn {
 	color: #fff
 }

 .pagination-list {
 	list-style: none;
 	line-height: 18px;
 }

.pagination-list a {
	color:#fff;
	background-color: #000;
}
.pagination-list a:hover,
.pagination-list a:focus,
.pagination-list a:active {
	background-color: #663d15;
}

.pagination-item-current a{
	color: #000;
	background-color: #fff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: #000;
	background-color: #fff;
}

.site-footer {
	color: #fff;
	background-color: #222;
	background-image: url(../img/background/index-footer-bg.jpg);
	background-repeat: repet;
	background-position: 0 0;
}

.footer-contacts a {
	color: #fff;
	text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}

.footer-social {
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.social-btn {
	color: #fff;
}

.footer-copyright {
	text-align: center;
}

.footer-copyright .btn:hover,
.footer-copyright .btn:focus,
.footer-copyright .btn:active {
	color:#000;
	background-color: #fff;
}

.modal {
	color: #000;
	background-color: #f8f5f2;
	background-image: url(../img/background/pattern-light.jpg);
	background-repeat: repeat;
	background-position: 0 0;
}

.modal h2 {
	font-size: 30px;
	line-height: 42px;
}

.login-form input {
	font: inherit;
	text-transform: uppercase;
	color: #000;
	background-color: #f9f6f3;
	border: 2px solid #000;
}

.login-form input:focus {
	border-color: #663d15;
}

.remember:hover,
.remember:focus {
	color: #663d15;
}

.login-form a {
	color:#000;
	text-decoration: underline;
}

.login-form a:hover,
.login-form a:focus,
.login-form a:active {
	text-decoration: none;
}




